
.navBar {
    background-color: #333;
    overflow: hidden;
}

.barra {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #333;
    display: flex;
    align-items: center;
}

.lista {
    float: left;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: rgb(243, 238, 238);
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

.input{
    background-color: #f0eeee;
    height: 20px;
    padding: 7px 30px;
    color: #8d8c8c;
    display: flex;left: auto;
}


/* Estilos para la sección de noticias */
.news-section {
    padding: 20px;
    background-color: #f4f4f4;
    display: flex; 
     justify-content:space-around ; 
    
    
    

}

.news-item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.news-item h2 {
    margin-top: 0;
}

.news-item p {
    font-size: 16px;
}

.imag{
   height: 400px;
    margin: 20px;
}

.lupa{
    width: 20px;
}
